In [1]:
import requests
from IPython.display import display

In [2]:
from bs4 import BeautifulSoup

In [3]:
# Initialize empty lists
r = []
c = []
soup= []
beds=[]
prices=[]
bath=[]
sq=[]
adrs = []
total=[]
beds_ds = []
prices_ds = []
bath_ds = []
sq_ds = []
adrs_ds = []

# Fetch the first page
r.append(requests.get("https://www.century21.com/real-estate/chicago-il/LCILCHICAGO/?beds=1&baths=1&minsqft=200"))
c.append(r[0].content)
soup.append(BeautifulSoup(c[0], "html.parser"))
total = soup[0].find_all("div", {"class":"main-listings row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xxl-4 g-3 px-3 pe-sm-0 pb-3"})
beds.append(total[0].find_all("div",{"class":"property-spec beds"}))
prices.append(total[0].find_all("div",{"class":"font-family-taglines property-price"}))
bath.append(total[0].find_all("span",{"class":"specs-number full-baths"}))
sq.append(total[0].find_all("div",{"class":"property-spec square-footage"}))
adrs.append(total[0].find_all("p",{"class":"property-address"}))

for k in range(0,24):
      beds_ds.append(int(beds[0][k].text.split()[0]))
      prices_ds.append(int(prices[0][k].text.strip().replace(",","").replace("$","")))
      bath_ds.append(int(bath[0][k].text))
      sq_ds.append(int(sq[0][k].text.split()[0].replace(",","")))
      adrs_ds.append(adrs[0][k].text.strip().replace("\n",""))

print(beds_ds)
print(prices_ds)
print(bath_ds)
print(sq_ds)
print(adrs_ds)

[2, 4, 1, 3, 4, 3, 2, 2, 2, 3, 2, 1, 4, 3, 2, 3, 5, 2, 3, 3, 3, 3, 3, 1]
[493000, 1599999, 275000, 1450000, 695000, 429000, 400000, 390000, 369900, 294000, 200000, 199000, 185000, 167900, 135000, 124999, 1045000, 415000, 399900, 275000, 249000, 674000, 490000, 435000]
[2, 2, 1, 3, 4, 3, 2, 2, 2, 2, 2, 1, 2, 1, 1, 1, 4, 2, 2, 2, 2, 2, 2, 2]
[1600, 4940, 802, 2400, 3000, 3025, 1300, 1600, 1200, 1325, 864, 906, 1700, 1150, 1200, 1200, 3100, 1600, 1583, 1493, 1900, 1100, 1700, 1279]
['333 S Desplaines Street Unit 706 Chicago, IL 60661', '6835 S Bennett Avenue Chicago, IL 60649', '850 N Dewitt Place Unit 4G Chicago, IL 60611', '10 E ONTARIO Street 5001-02 Chicago, IL 60611', '5028 W Waveland Avenue Chicago, IL 60641', '4355 S Calumet Avenue Chicago, IL 60653', '1516 W 19th Street 2 Chicago, IL 60608', '5801 N Sheridan Road 5C Chicago, IL 60660', '1524 S SANGAMON Street 705 Chicago, IL 60608', '11661 S Keeler Avenue Alsip, IL 60803', '3603 W 69th Place Chicago, IL 60629', '4250 N Marine Drive 2711 Chicago, IL 60613', '13831 S Michigan Avenue Riverdale, IL 60827', '5948 S Justine Street Chicago, IL 60636', '449 E OAKWOOD Boulevard 1 Chicago, IL 60653', '7964 S Essex Avenue Chicago, IL 60617', '175 E Delaware Place 6805-6806 Chicago, IL 60611', '811 S Lytle Street 510 Chicago, IL 60607', '8325 W Farragut Avenue Norridge, IL 60706', '7843 S Avalon Avenue Chicago, IL 60619', '7033 N Kedzie Avenue 1716 Chicago, IL 60645', '5423 N Sawyer Avenue Chicago, IL 60625', '2153 W BELMONT Avenue 2 Chicago, IL 60618', '1111 S Wabash Avenue 2504 Chicago, IL 60605']

In [4]:
# Fetch pages from 2 to 134

for i in range(1, 134):
    url = f"https://www.century21.com/real-estate/chicago-il/LCILCHICAGO/?beds=1&baths=1&minsqft=200&s={i*24}"
    response = requests.get(url)
    r.append(response)
    c.append(response.content)
    soup.append(BeautifulSoup(c[i], "html.parser"))
    total = soup[i].find_all("div", {"class":"main-listings row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xxl-4 g-3 px-3 pe-sm-0 pb-3"})
    beds.append(total[0].find_all("div",{"class":"property-spec beds"}))
    prices.append(total[0].find_all("div",{"class":"font-family-taglines property-price"}))
    bath.append(total[0].find_all("span",{"class":"specs-number full-baths"}))
    sq.append(total[0].find_all("div",{"class":"property-spec square-footage"}))
    adrs.append(total[0].find_all("p",{"class":"property-address"}))

    for g in range(0,24):
        bath_ds.append(int(bath[i][g].text))
        sq_ds.append(int(sq[i][g].text.split()[0].replace(",","")))
        adrs_ds.append(adrs[i][g].text.strip().replace("\n",""))

        if prices[i][g].text.strip().replace(",","").replace("$","").isdigit():
            prices_ds.append(int(prices[i][g].text.strip().replace(",","").replace("$","")))
        else:
            prices_ds.append(None)

        if beds[i][g].text.split()[0].isdigit():
            beds_ds.append(int(beds[i][g].text.split()[0]))
        else:
            beds_ds.append(None)

    if i == 5 :
        print(beds_ds)
        print(prices_ds)
        print(bath_ds)
        print(sq_ds)
        print(adrs_ds)
    '''
        if bath[i][g].text.isdigit():
            bath_ds.append(int(bath[i][g].text))
        else:
            bath_ds.append(None) '''

[2, 4, 1, 3, 4, 3, 2, 2, 2, 3, 2, 1, 4, 3, 2, 3, 5, 2, 3, 3, 3, 3, 3, 1, 3, 3, 2, 1, 1, 4, 4, 2, 2, 3, 4, 3, 3, 4, 2, 2, 2, 4, 3, 3, 3, 2, 3, 4, 1, 2, 3, 3, 4, 2, 3, 2, 3, 3, 4, 2, 3, 5, 4, 3, 1, 2, 2, 5, 5, 3, 1, 4, 3, 3, 4, 3, 3, 2, 3, 4, 1, 2, 3, 10, 5, 4, 3, 6, 2, 5, 4, 3, 4, 2, 2, 3, 2, 5, 1, 3, 3, 1, 2, 2, 4, 3, 2, 5, 3, 3, 2, 6, 3, 4, 2, 2, 3, 3, 1, 2, 3, 3, 2, 2, 3, 1, 4, 2, 1, 1, 3, 1, 8, 2, 5, 2, 4, 1, 1, 2, 4, 4, 2, 5]
[493000, 1599999, 275000, 1450000, 695000, 429000, 400000, 390000, 369900, 294000, 200000, 199000, 185000, 167900, 135000, 124999, 1045000, 415000, 399900, 275000, 249000, 674000, 490000, 435000, 399900, 359000, 296000, 289500, 250000, 225000, 199900, 169900, 35000, 850000, 679000, 675000, 649900, 620000, 569500, 535000, 499000, 449900, 449000, 430000, 429900, 425000, 390000, 389999, 389900, 389000, 359900, 354900, 349900, 349000, 339900, 320000, 309999, 309900, 309900, 299250, 295000, 269900, 249999, 249000, 248500, 240000, 235000, 234900, 229747, 194000, 189500, 184900, 179900, 125000, 124900, 39900, 1487000, 389000, 364900, 299900, 254999, 80000, 345000, 1606000, 1500000, 949000, 899900, 899900, 824900, 765000, 733000, 599000, 529900, 499900, 455000, 444900, 424000, 415000, 409000, 399000, 390000, 385000, 379000, 350000, 340000, 329999, 325000, 314900, 309900, 300000, 300000, 299000, 290000, 289999, 285000, 278000, 269900, 260000, 249900, 249900, 249000, 235500, 219900, 209900, 205000, 199995, 199000, 190000, 186000, 159000, 150000, 140000, 140000, 135000, 850000, 685000, 339000, 250000, 280000, 279900, 180000, 2099999, 2050000, 1950000]
[2, 2, 1, 3, 4, 3, 2, 2, 2, 2, 2, 1, 2, 1, 1, 1, 4, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 2, 2, 1, 1, 2, 3, 2, 2, 1, 2, 3, 2, 3, 2, 2, 2, 2, 1, 2, 1, 2, 2, 2, 2, 2, 4, 2, 1, 3, 2, 2, 2, 2, 3, 1, 1, 1, 1, 2, 3, 2, 1, 1, 2, 1, 2, 2, 4, 2, 1, 2, 1, 1, 2, 6, 5, 2, 3, 4, 2, 4, 3, 3, 3, 2, 2, 2, 2, 3, 1, 2, 2, 1, 2, 1, 3, 3, 1, 3, 1, 2, 2, 3, 2, 2, 1, 1, 1, 2, 1, 2, 3, 1, 1, 1, 1, 1, 2, 1, 1, 1, 2, 1, 3, 2, 2, 2, 2, 1, 1, 1, 2, 3, 2, 3]
[1600, 4940, 802, 2400, 3000, 3025, 1300, 1600, 1200, 1325, 864, 906, 1700, 1150, 1200, 1200, 3100, 1600, 1583, 1493, 1900, 1100, 1700, 1279, 2000, 1200, 1890, 995, 1200, 1350, 1642, 942, 12550, 2100, 2800, 1900, 1283, 2240, 1148, 1282, 1224, 3216, 1050, 1331, 1800, 1285, 1100, 1281, 950, 1003, 1164, 2352, 1716, 1200, 1724, 2000, 1239, 1500, 1695, 1350, 1800, 2051, 1600, 2100, 705, 950, 700, 1300, 1900, 1355, 700, 1265, 865, 1389, 1326, 1494, 3030, 1250, 1319, 1750, 990, 800, 1350, 9924, 3500, 3000, 1950, 4230, 1610, 3620, 3500, 2024, 2800, 1250, 1365, 1646, 1400, 1745, 1175, 1500, 1850, 1093, 1350, 1250, 3237, 3246, 1205, 2400, 1200, 900, 1200, 3356, 920, 1501, 650, 680, 1121, 1200, 840, 1400, 1950, 1057, 1000, 1442, 768, 800, 1378, 1000, 850, 800, 1500, 800, 2016, 1000, 2753, 1450, 1305, 735, 791, 1302, 1500, 4000, 2207, 4350]
['333 S Desplaines Street Unit 706 Chicago, IL 60661', '6835 S Bennett Avenue Chicago, IL 60649', '850 N Dewitt Place Unit 4G Chicago, IL 60611', '10 E ONTARIO Street 5001-02 Chicago, IL 60611', '5028 W Waveland Avenue Chicago, IL 60641', '4355 S Calumet Avenue Chicago, IL 60653', '1516 W 19th Street 2 Chicago, IL 60608', '5801 N Sheridan Road 5C Chicago, IL 60660', '1524 S SANGAMON Street 705 Chicago, IL 60608', '11661 S Keeler Avenue Alsip, IL 60803', '3603 W 69th Place Chicago, IL 60629', '4250 N Marine Drive 2711 Chicago, IL 60613', '13831 S Michigan Avenue Riverdale, IL 60827', '5948 S Justine Street Chicago, IL 60636', '449 E OAKWOOD Boulevard 1 Chicago, IL 60653', '7964 S Essex Avenue Chicago, IL 60617', '175 E Delaware Place 6805-6806 Chicago, IL 60611', '811 S Lytle Street 510 Chicago, IL 60607', '8325 W Farragut Avenue Norridge, IL 60706', '7843 S Avalon Avenue Chicago, IL 60619', '7033 N Kedzie Avenue 1716 Chicago, IL 60645', '5423 N Sawyer Avenue Chicago, IL 60625', '2153 W BELMONT Avenue 2 Chicago, IL 60618', '1111 S Wabash Avenue 2504 Chicago, IL 60605', '5028 W Ohio Street Chicago, IL 60644', '723 W 31st Street 2 Chicago, IL 60616', '7755 S Calumet Avenue Chicago, IL 60619', '10 E Ontario Street 3502 Chicago, IL 60611', '822 N California Avenue 1 Chicago, IL 60622', '10540 S Green Street Chicago, IL 60643', '8615 S Cregier Avenue Chicago, IL 60617', '554 W 87 Street SW Chicago, IL 60620', '4800 S Lake Park Avenue Unit 705A Chicago, IL 60615', '950 W Huron Street 602 Chicago, IL 60642', '1011 E 62nd Street Chicago, IL 60637', '2401 W Winnemac Avenue 3E Chicago, IL 60625', '2495 N Milwaukee Avenue 3N Chicago, IL 60647', '5215 S Blackstone Avenue Chicago, IL 60615', '155 N HARBOR Drive 4702 Chicago, IL 60601', '4730 N Maria Court Chicago, IL 60656', '1629 S PRAIRIE Avenue 2509 Chicago, IL 60616', '5057 N Menard Avenue Chicago, IL 60630', '2407 N 77TH Avenue Elmwood Park, IL 60707', '4805 S Lockwood Avenue Chicago, IL 60638', '843 N Drake Avenue Chicago, IL 60651', '330 N Jefferson Street 1701 Chicago, IL 60661', '6132 N Nagle Avenue Chicago, IL 60646', '6124 S Kedvale Avenue Chicago, IL 60629', '1200 W Monroe Street 812 Chicago, IL 60607', '320 E 21st Street 215 Chicago, IL 60616', '7844 S Trumbull Avenue Chicago, IL 60652', '3510 W 85th Street Chicago, IL 60652', '3410 W 85th Street Chicago, IL 60652', '1000 N Lake Shore Drive 408 Chicago, IL 60611', '8449 S Paulina Street Chicago, IL 60620', '6226 W Grace Street Chicago, IL 60634', '6323 S La Crosse Avenue Chicago, IL 60638', '9421 S Rhodes Avenue Chicago, IL 60619', '2915 N 73rd Avenue Elmwood Park, IL 60707', '2503 W Harrison Street 4 Chicago, IL 60612', '4040 W Carroll Avenue Chicago, IL 60624', '1329 W 71st Street Chicago, IL 60636', '56 W 76th Street Chicago, IL 60620', '5414 W 26TH Street Cicero, IL 60804', '3550 N Lake Shore Drive 1822 Chicago, IL 60657', '3100 W Berteau Avenue G Chicago, IL 60618', '3435 W Berteau Avenue 1C Chicago, IL 60618', '8016 S Blackstone Avenue Chicago, IL 60619', '8454 S Muskegon Avenue Chicago, IL 60617', '163 E 122nd Place Chicago, IL 60628', '2149 W Argyle Street 2 Chicago, IL 60625', '1506 W 72nd Place Chicago, IL 60636', 'Chicago, IL 60628', '14425 S Emerald Avenue Riverdale, IL 60827', '2620 E 91st Street Chicago, IL 60617', '372 E 69th Street 0 Chicago, IL 60637', '1040 N Lake Shore Drive Unit 27A Chicago, IL 60611', '1360 N Sandburg Terrace Unit 2111C Chicago, IL 60610', '3101 W 101st Street Evergreen Park, IL 60805', '1728 W 90th Place Chicago, IL 60620', '1729 W Erie Street Unit 1N Chicago, IL 60622', '14536 Muskegon Avenue Unit 3D Burnham, IL 60633', '7443 W Irving Park Road , 4W Chicago, IL 60634', '5345 S University Avenue Chicago, IL 60615', '1300 N Lake Shore Drive 22CD Chicago, IL 60610', '540 N Hermitage Avenue Chicago, IL 60622', '2202 N LAKEWOOD Avenue Chicago, IL 60614', '3327 W Glenlake Avenue Chicago, IL 60659', '55 E Erie Street 2801 Chicago, IL 60611', '2615 W 102nd Place Chicago, IL 60655', '10230 S Leavitt Street Chicago, IL 60643', '5722 W Wilson Avenue Chicago, IL 60630', '5924 W Eddy Street Chicago, IL 60634', '175 E Delaware Place 4811 Chicago, IL 60611', '210 S DESPLAINES Street 312 Chicago, IL 60661', '1070 W 15th Street 347 Chicago, IL 60608', '8 E RANDOLPH Street 1904 Chicago, IL 60601', '3649 N Sayre Avenue Chicago, IL 60634', '110 N Peoria Street 302 Chicago, IL 60607', '2618 N 75th Court 3 Elmwood Park, IL 60707', '3862 S Lake Park Avenue 3N Chicago, IL 60653', '10 E ONTARIO Street 4101 Chicago, IL 60611', '2754 N Hampden Court 708 Chicago, IL 60614', '899 S Plymouth Court 509 Chicago, IL 60605', '7935 S Kimbark Avenue Chicago, IL 60619', '8151 S Woodlawn Avenue Chicago, IL 60619', '4229 N Bernard Street Chicago, IL 60618', '8307 S Morgan Street Chicago, IL 60620', '8448 S Kostner Avenue Chicago, IL 60652', '231 W 18th Street 5B Chicago, IL 60616', '2001 S Calumet Avenue 305 Chicago, IL 60616', '4943 S Vincennes Avenue Chicago, IL 60615', '5755 S Damen Avenue Chicago, IL 60636', '1633 E 86th Street Chicago, IL 60617', '1449 N Ashland Avenue 2F Chicago, IL 60622', '11000 S Springfield Avenue Chicago, IL 60655', '11743 S Lavergne Avenue Alsip, IL 60803', '5224 S Michigan Avenue 3 Chicago, IL 60615', '125 S Jefferson Street 2206 Chicago, IL 60661', '9349 S Woodlawn Avenue Chicago, IL 60619', '9254 S Aberdeen Street Chicago, IL 60620', '11114 S Trumbull Avenue Chicago, IL 60655', '5464 W Higgins Avenue 3N Chicago, IL 60630', '5515 S University Avenue 302 Chicago, IL 60637', '10149 S Crandon Avenue Chicago, IL 60617', '880 N LAKE SHORE Drive 22D Chicago, IL 60611', '13905 S Wabash Avenue Riverdale, IL 60827', '7314 S Whipple Street Chicago, IL 60629', '633 S Plymouth Court 307 Chicago, IL 60605', '6301 N Sheridan Road 24G Chicago, IL 60660', '1219 W 74th Street Chicago, IL 60636', '5505 N Winthrop Avenue 2-I Chicago, IL 60640', '5959 W Ohio Street Chicago, IL 60644', '2809 W Washington Boulevard 201 Chicago, IL 60612', '5920 N Elston Avenue Chicago, IL 60646', '505 N Lake Shore Drive Unit 4706 Chicago, IL 60611', '1019 W 110th Street Chicago, IL 60643', '1901 S Calumet 911 Chicago, IL 60616', '310 S Michigan Avenue , 1206 Chicago, IL 60604', '9858 S Sawyer Avenue Evergreen Park, IL 60805', '10501 S Morgan Street Chicago, IL 60643', '33 E Bellevue Place 3W Chicago, IL 60611', '14 W Superior Street 5502 Chicago, IL 60654', '1619 N BELL Avenue Chicago, IL 60647']

In [14]:
data={"bed rooms":beds_ds,"baths":bath_ds,"square feet":sq_ds,"address":adrs_ds,"price":prices_ds}

In [15]:
import pandas as pd
df=pd.DataFrame(data)
display(df)

,bed rooms,baths,square feet,address,price
0,2,2,1600,"333 S Desplaines Street Unit 706 Chicago, IL 6...",493000.0
1,4,2,4940,"6835 S Bennett Avenue Chicago, IL 60649",1599999.0
2,1,1,802,"850 N Dewitt Place Unit 4G Chicago, IL 60611",275000.0
3,3,3,2400,"10 E ONTARIO Street 5001-02 Chicago, IL 60611",1450000.0
4,4,4,3000,"5028 W Waveland Avenue Chicago, IL 60641",695000.0
...,...,...,...,...,...
3211,3,2,1350,"3121 W Washington Blvd 2 Chicago, IL 60612",263000.0
3212,2,1,774,"2657 W Berwyn Ave 2n Chicago, IL 60625",239900.0
3213,5,2,2262,"6326 S Campbell Ave Chicago, IL 60629",199900.0
3214,2,1,965,"347 W 100th Pl Chicago, IL 60628",185000.0
3215,4,3,2173,"5300 South Shore Drive Unit 112 Chicago, IL 60615",185000.0

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3216 entries, 0 to 3215
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   bed rooms    3216 non-null   int64
 1   baths        3216 non-null   int64
 2   square feet  3216 non-null   int64
 3   address      3216 non-null   object
 4   price        3202 non-null   float64
dtypes: float64(1), int64(3), object(1)
memory usage: 125.8+ KB

In [16]:
df.to_csv("output.csv")

In [17]:
df.to_csv("output2.csv",index=False)